body {
  font-family: Century Gothic;
  font-size: 20px;
}

p {
  display: inline-block;
  height: 100px;
  width: 300px;
}

    .lateral {
      background-color: yellow;
    }

    .medio {
      background-color: red;
    }
