body {
  font-family: Century Gothic;
  font-size: 20px;
}

div {
  display: block;
  height: 100px;
}

    .lateral {
      background-color: yellow;
    }

    .medio {
      background-color: red;
      border: 1px solid black;
    }
